<h3>Add an address</h3>
<tr>
    <td>
        {{controller.name.firstName}}
    </td>
    <td>
          {{controller.name.lastName}}
    </td>
</tr>

<form ng-submit="controller.addAddressUnderName()">
    <div>
        <input type="text" placeholder="Insert the address description here..." ng-model="controller.vmnameaddress.addressType" />
        <label>Description</label>
    </div>
    <div>
        <input type="text" placeholder="Insert the street address here..." ng-model="controller.vmnameaddress.streetAddress" />
        <label>Street address</label>
    </div>
    <div>
        <input type="text" placeholder="Insert the city here..." ng-model="controller.vmnameaddress.city" />
        <label>City</label>
    </div>
    <div>
        <input type="text" placeholder="Insert the state here..." ng-model="controller.vmnameaddress.StateName" />
        <label>State</label>
    </div>
    <div>
        <input type="text" placeholder="Insert the postal code here..." ng-model="controller.vmnameaddress.postalCode" />
        <label>Postal code</label>
    </div>
    <input type="submit" class="btn btn-success" value="Add an address" />
</form>
